<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
    <button style="font-size:24px" onclick="location.href='/'" ">Refresh<i class=" fa fa-refresh "></i></button>
    <table>

        <thead>
            <tr>
                <th>Server Vendor</th>
                <th>Server Model</th>
                <th>Server SerialNumber</th>
                <th>Server IP</th>
            </tr>
        </thead>

        <tbody>
            {% for device in devices %}
            <tr>
                <td><strong>{{ device[0] }}</strong></td>
                <td>{{ device[1] }}</td>
                <td>{{ device[2] }} </td>
                <td>{{ device[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>

<script>
    setTimeout(function () {
        location.reload();
    }, 2000);
</script>

</html>